@keyframes upDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}

//create left-move and right-move animation
@mixin LR-move($dir){
    @keyframes #{$dir}-move {
        50%{
            #{$dir} : 0;
            @include size(12px);
        }
        100%{
            #{$dir} : 0;
            @include size(50%,100%);
            border-radius: 0;
        }
    }
}
@include LR-move(left);
@include LR-move(right);