@use "sass:math";
//.parent {
    //something here;
//}
.container {
    width: 95%;
    @include mq($md) {
        max-width: 750px;
    }
    @include mq($lg) {
        max-width: 970px;
    }
    @include mq($xl) {
        max-width: 1170px;
    }
    margin-inline: auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
    user-select: none;
    &,
    &:active {
        border: none;
        outline: none;
    }
}