.landing {
    //To do: try to make it using JS
    min-height: calc(100vh - #{$h-header-sm});
    @include mq($md) {
        min-height: calc(100vh - #{$h-header-md});
    }
    @include flex(center);
    //position relative in the before mixin
    @include before {
        inset: 0;
        @include size(100%);
        background: var(--clr--bg);
        transform: skewY(-6deg);
        transform-origin: top left;
        z-index: -1;
    }
    .container {
        @include flex(space-between, center);
        // padding: $p-landing 0;
        padding-bottom: $h-header-sm;
        @include mq($md) {
            padding-bottom: $h-header-md;
        }
    }
    .image {
        width: 600px;
        animation: upDown infinite 2s alternate ease-in-out;
        img {
            width: 100%;
        }
    }
    p {
        font-size: 23px;
        line-height: 1.7;
        margin: 5px 0 0;
        color: #666;
        max-width: 500px;
    }
    @include mq($lg, max) {
        .image {
            display: none;
        }
        .container {
            justify-content: center !important;
        }
        text-align: center;
    }
    .go-down {
        position: absolute;
        bottom: $p-go-down;
        color: var(--clr--main);
        i {
            animation: bouncing 1.5s infinite;
        }
    }
}
