.testimonials {
    background: var(--clr--bg);
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
    }
    .box{
        padding: 20px;
        background-color: white;
        box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
        border-radius: 6px;
        position: relative;
        img{
            position: absolute;
            right: -10px;
            top: -50px;
            @include size(100px);
            border-radius: 50%;
            border: 10px solid var(--clr--bg);
        }
        h3{
            margin-bottom: 10px;
        }
        .title{
            color: var(--clr-black-3);
        }
        .rate .filled {
            color: #ffc107;
        }
        p {
            line-height: 1.5;
            color: var(--clr-black-3);
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}