.work-steps {
    background: var(--clr--bg);
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        @include mq($md) {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }
        align-items: center;
        justify-items: center;
        gap: 30px;
    }
    .info {
        margin: -20px;
    }
    .box {
        margin: 20px;
        padding: 30px 35px;
        background: #f6f6f6;
        border-radius: 9px;
        border: 2px solid var(--clr-white-);
        text-align: center;
        z-index: 1;
        img {
            display: inline-block;
            margin-inline: auto;
            width: 60px;
        }
        @include mq($sm) {
            display: flex;
            text-align: left;
            gap: 30px;
            img {
                width: 80px;
                align-self: center;
            }
        }
        @include before {
            @extend %center;
            @include size(0);
            background: var(--clr-white-3);
            border-radius: inherit;
            z-index: -1;
            transition: $trans ease-in;
        }
        &:hover {
            &::before {
                @include size(100%);
            }
        }
    }
    .text {
        p {
            color: var(--clr-black-3);
            line-height: 1.7;
            margin-top: 10px;
            font-size: $fs5;
        }
        h3 {
            font-size: $fs4;
            margin-top: 10px;
        }
    }
}
