//color system generator
$themes: ("light", "dark");
$colors: (
    #{null}: (
        main: #2196f3,
        alt: #1787e0,
        bg: #ececec,
    ),
    white: (
        #{null} : #ffffff,
        1: #fafafa,
        2: #e9e6e6,
        3: #ececec
    ),
    black: (
        #{null}: #000000,
        1: #333,
        2: #666,
        3: #777,
    ),
    sm: (
        facebook: #3b5998,
        instagram: #e95950,
        linkedin: #007bb5,
        github: (
            #212121,
            var(--clr--white),
        ),
    )
);
//creating css variables
:root {
    @each $group, $content in $colors {
        @each $color, $hex in $content {
            @if (length($hex) == 1) {
                --clr-#{""+$group}-#{"" + $color}: #{$hex};
            }
            @if (length($hex) == 2) {
                --clr-#{""+$group}-#{"" + $color}: #{nth($hex, 1)};
            }
        }
    }
}
body.#{nth($themes,2)} {
    @each $group, $content in $colors {
        @each $color, $hex in $content {
            @if (length($hex) == 2) {
                --clr-#{""+$group}-#{"" + $color}: #{nth($hex, 2)};
            }
        }
    }
}