//screens
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$trans: 0.3s;
$trans-slow: 0.7s;
$p-top: 100px;
$p-bottom: 100px;

//header
$p-nav-links: 30px;
$h-header-sm: 48px;
$h-header-md: 68px;

//landing
$p-go-down: 20px;
$h-go-down: 32px;
$p-landing: $p-go-down + $h-go-down + 10;

//main-title
$dis-title: -30px;
$title-delay: 0.7s;

//spikes
$h-spikes: 30px;

//team
$m-team: 60px;
